#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#link{
    margin: 20px;
}

img{
    position: absolute;
    top:0;
}

img[id*='crateus']:hover{
    display:none;
}
img[id*='quixada']:hover{
    display:none;
}