/*#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}*/

@media screen and (max-width: 900px) {
    svg{
        height: 90vh;
    }
}

@media screen and (min-width: 901px) {
    svg{
        height: 100vh;
    }

}

#container-botoes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.link:hover path{ 
    fill:#ffdd01 !important;

}

.link path{
    max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.botao{
   border: 2px #ffdd01 solid;
   margin: 30px;
   padding: 10px;
   width: 150px;
}
