/*#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}*/


svg{
    margin-top:10px;
}

@media screen and (max-width: 900px) {
    svg{
        height: 90vh;
    }
}

@media screen and (min-width: 901px) {
    svg{
        height: 100vh;
    }
   

}

#container-botoes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.link:hover path{ 
    fill:#ffdd01 !important;

}

.link path, .botao{
    max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.botao{
   border: 2px #007e3d solid;
   color:  #007e3d;
   margin: 20px;
   padding: 10px;
   font-size: 1.3em;
   text-transform: uppercase;
	letter-spacing: .08em;
	outline: none;
    cursor: pointer;
}

a { color: inherit; } 


.botao:hover{
    background-color: #007e3d;
    color: white;
}

.tooltip{
    background-color:#FFF;
    position:absolute;
    display: none;
    padding: 10px;
    text-align: center;
    border:  2px #000 solid;
}


.containerBotoes{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}